<div class="container mt-4 mb-4">
    <div class="btn-group" role="group" aria-label="Basic example">
        {{#if users}}
        <a href="/listUsers" type="button" class="btn btn-primary">Users</a>
        {{else}}
        <a href="/listUsers" type="button" class="btn btn-secondary">Users</a>
        {{/if}}
        {{#if products}}
        <a href="/products" type="button" class="btn btn-primary">Products</a>
        {{else}}
        <a href="/products" type="button" class="btn btn-secondary">Products</a>
        {{/if}}
         {{#if orders}}
        <a href="/orders" type="button" class="btn btn-primary">Orders</a>
        {{else}}
        <a href="/orders" type="button" class="btn btn-secondary">Orders</a>
        {{/if}}        
    </div>
</div>