<div>
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">We provide camera rental services.</p>
        <hr class="my-4">
        <p>The most popular camera rental services</p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    </div>
</div>