<div>

    <form action="/loginSubmit" method="GET">
        <input type="text" name="username" placeholder="Email"/>
        <input type="password" name="password"  placeholder="Password"/>
        <input type="submit" />
    </form>
    <b>{{message}}</b>
</div>