<div>
    <form action="/registerSubmit" method="GET">
        <input type="text" name="email" placeholder="Email"/>
        <input type="text" name="firstName" placeholder="First name" />
        <input type="text" name="lastName" placeholder="Last name" />
        <input type="text" name="password" placeholder="Password" />
        <input type="submit" />
    </form>
</div>