<div class="container" style="margin-top: 80px;">
    {{#each productList}}
       {{!-- {{#ifeq indx }}
       {{/ifeq}}
       {{#ifnoteq}}
       {{/ifnoteq}}        --}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.charges}}</p>
            <a href="/addToCart" class="btn btn-primary">Add</a>
        </div>
    </div>
    {{/each}}
</div>